---
import "@fontsource/darker-grotesque";

export interface Props {
  title: string;
  isHome?: boolean;
}

const { title, isHome, content } = Astro.props;
console.log(Astro.props);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="pt-16 bg-base text-neutral h-screen text-xl">
    <header
      class="bg-base fixed top-0 h-16 w-screen flex justify-between items-center border-b-2"
    >
      <div class="px-4">
        {
          isHome ? (
            <h1 class="font-black text-2xl">Luca Hagel</h1>
          ) : (
            <span class="flex flex-row gap-2 font-black text-2xl">
              <a href="/">Luca Hagel</a>&verbar;<h1>Blog</h1>
            </span>
          )
        }
      </div>
      <!-- <div class="px-4"><a href="/posts">Posts</a></div> -->
    </header>
    <div class="mx-auto max-w-3xl mt-8">
      <h1 class="text-3xl font-bold">{content.title}</h1>
      <div class="flex gap-4">
        <p class="italic opacity-60">{content.publishDate}</p>
        <ul class="flex gap-1">
          {
            content.tags.map((tag: string) => (
              <li class="bg-teal-700 text-white rounded-lg p-1 text-sm">
                {tag}
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <article class="prose lg:prose-xl max-w-3xl mx-auto mt-16">
      <slot />
    </article>
    <footer
      class="opacity-60 static bottom-0 p-4 flex items-center justify-center w-screen"
    >
      &copy; 2022 Luca Hagel
    </footer>
  </body>
</html>
